<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="VeriRaporlama.Properties.Settings.RaporlamaConnectionString"
            connectionString="Data Source=AYZASOFT-0000;Initial Catalog=Raporlama;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>